@model Redmap.Events.DTO.EventsDto

    <div class="error-list">
        <div class="combind-list">
            <label>Categories</label>
            <p>@Model.EventCategory</p>
        </div>
        <div class="combind-list">
            <label>Summary</label>
            <p>
                @Model.Summary
            </p>
        </div>
        <div class="combind-list">
            <label>Message</label>
            <p>
                @Model.Message
            </p>
        </div>
        <div class="combind-list">
            <label>Source</label>
            <p>@Model.Source</p>
        </div>
        <div class="combind-list">
            <label>Server</label>
            <p>@Model.Serverdetail</p>
        </div>
        <div class="combind-list">
            <label>Tag1</label>
            <p>@Model.Tag1</p>
        </div>
        <div class="combind-list">
            <label>Tag2</label>
            <p>@Model.Tag2</p>
        </div>

    </div>
